.product-display {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  article {
    flex-direction: column;
    margin: 1em;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    img {
      width: 15rem;
      height: 15rem;
    }
  }
}
